h1,section {
    text-align: center;
}
h2{
    color: blueviolet;
}
h3{
    color:rgb(208, 138, 9);
}
body{
    font-family: sans-serif;
    background-color: rgb(231, 207, 137);
}
#menuler{
    word-spacing: 5px;

}
.fotos{
    height:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


.muzikAletleri{
    list-style-position: inside;
}
#urunIsmi{
    text-align: center;
}
.urunsayisi{
    text-align: center;
   
    margin-left: 650px;
    margin-right: 650px;
    

}




   
    

